
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1460px;
    margin: 0 auto;
    padding: 0px 15px
}

@import url(base/_fonts.scss);


@import url(blocks/_equipment.scss);
@import url(blocks/_heading.scss);
@import url(blocks/_cheaper.scss);
@import url(blocks/_cards.scss);
@import url(blocks/_btn.scss);
@import url(blocks/_autor__drink.scss);
@import url(blocks/_advantage.scss);
@import url(blocks/_list.scss);
@import url(blocks/_media.scss);

