.advantage{
    padding-top: 163px;
    padding-bottom: 244px;
}
.advantage__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantage__container h2{
    max-width: 735px;
    text-align: center;
    margin-bottom: 79px;
}
