.autor__drink{
 position: relative;
 max-width: 1920px;
 max-height: 755px;
 margin-top: 250px;
}
.autor__drink__container{
    display: flex;
}
.autor__drink__content{
    margin-top: 210px;
    max-width: 827px;
}
.autor__drink__bg{
    position: absolute;
    top: 202px;
    right: 47px;
}
.autor__drink__content span{
    color:#000000;
}