.btn{
    width: 330px;
    height: 66px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    background-color: #f95b2a;
}