.cards__card{
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-height: 336px;
    max-width: 1415px;
    box-shadow: 0 12px 65px 3px rgba(7, 16, 29, 0.13);
    background-color: #ffffff;
    margin-bottom: 34px;
}
.cards__card__left{
    margin: 115px 62px 100px 64px;
}
.cards__card__title{
    color: #000000;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}
.cards__card__subtitle{
    max-width: 530px;
    color: #000000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-top: 28px;
}
.cards__card__center{
    margin: 28px 104px 31px 0px;
}
.cards__card__product{
    max-width: 284px;
    max-height: 275px;
}
.cards__card__right{
    margin: 55px 40px 51px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}
.cards__card__price__old{
    width: 123px;
    height: 26px;
    color: #a2b1c5;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;    
    line-height: 72px;
    text-align: left;
    text-decoration: line-through;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.cards__card__price__new{
    color: #000000;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.cards__card__price__economy{
    color: #000000;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    margin-bottom: 27px;
    margin-bottom: 27px
}
.cards__btn{
    margin-bottom: 41px;
}