.cheaper{
    padding-top: 95px;
    padding-bottom: 110px;
    max-height: 920px;
    max-width: 1800px;
    margin: 0 auto;
    background: url('../../img/bg-section-2.png')center right/ cover no-repeat;
}
.cheaper__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cheaper__subtitle{   
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 28px;
}