.heading{
    color: #305c94;
    font-family: "Roboto - Black";
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
}
.heading_h2{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.heading_h2_left{
    line-height: 60px;
    text-align: left;
}

